* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-image: url(../imgs/wood-grain-texture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.number-container {
    text-align: center;
    margin: 0 38%;
    margin-top: 8%;
    background-color: #454545;
    padding: 3% 0;
    border-radius: 7%;
     -webkit-box-shadow: 0 20px #363636;
    box-shadow: 0 20px #363636;
}

input {
    display: block;
    margin: 0 auto;
    margin-bottom: 12%;
    width: 280px;
    line-height: 65px;
    font-size: 40px; 
    pointer-events: none;
}

input[type="text"],
textarea {
    background-color: #c6f2cc;
    padding-left: 2%;

}

button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #0b0b0b;
    border: none;
    background-color: #dddddd;
    border-radius: 15px;
    -webkit-box-shadow: 0 6px #989898;
    box-shadow: 0 6px #989898;
    margin: 0 1%;
    margin-bottom: 4%;   
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

button:hover {
    background-color: #bebebe;
}

button:active {
    background-color: #b2b2b2;
    -webkit-box-shadow: 0 3px #888888;
    box-shadow: 0 3px #888888;
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}

#equals { 
    padding: 15px 100px;
}
#clear {
    padding: 15px 24px;
}
#double-zero {
    padding: 15px 19px;
}
#decimal {
    padding: 15px 29px;
}
#minus {
    padding: 15px 28px;
}
